<div class="container mt-4">
  <!-- FORM -->
  <div class="row">
<div class="col-md-6 offset-md-3">
      <app-product-form
          [editProductObj]="editProductObj"
        (emitProduct)="onProductAdd($event)"
         (emitUpdateProduct)="onProductUpdate($event)">
      </app-product-form>
    </div>
  </div>
  <!-- PRODUCyT LIST -->
  <div class="row mt-4">
    <div class="col-12">
      <app-product-list
      [productArr]="productArr"
      (emitEditObj)="onEdit($event)"
      (emitRemoveProduct)="onRemoveProduct($event)">
      </app-product-list>
    </div>
  </div>
</div>